# Control Structures and Data Frames

## PETE 2061 Lab 4 Workbook 

<a id='top'></a>

1. Paste the url (or link) to the pete2061 folder in your github account in the "marked down" cell below. <br>
**2 points will be deducted if this is not attempted**

https://github.com/lieth887/pete2061.git

2. The following table lists the sound level in decibels for several common noises.

| Noise         | Decibel level (dB) |
| ------------- | ------------------ |
| Jackhammer    |         131        |
| Gas lawnmower |         107        |
| Alarm clock   |          69        |
| Quiet room    |          41        |

Write a program that reads a sound level in decibels from the user. If the user enters a decibel level that matches one of the noises in the table then your program should display a message containing only that noise. If the user enters a number of decibels between the noises listed then your program should display a message indicating which noises the level is between. Ensure that your program also generates reasonable output for a value smaller than the quietest noise in the table, and for a value larger than the loudest noise in the table. <br><br>
**Hints:**<br>
    a. Remember to convert any numbers you read in with the "input()" function to an integer before using it in your "if" statements. Eg. myInt = int(input("Enter any Integer"))<br>
    b. You can test if the number stored in a variable is between two numbers by using the "and" command, as discussed before. Eg. (myInt > 2 and myInt < 6) will return true if myInt is both greater than 2 and less than 6.<br>
    c.  You will need many elif statetements in the if statement for this problem. <br><br>
  
**1 point will be deductded for each of the 9 possible scenarios that is missing. Half point will be deducted for each typo in these 9 possible scenarios <br>**
**2 points will be deducted if sound level is not read in and converted into an integer before being used in the if statement <br>**

In [ ]:
import numpy as np
import pandas as pd

decibels = float(input("Enter the number of decibels: "))

if decibels > 0 and decibels < 41:
    print('Quieter than a quiet room.')

elif decibels == 41:
    print('About the same as a quiet room.')

elif decibels > 41 and decibels < 69:
    print('Quieter than an alarm clock but louder than a quiet room.')
elif decibels == 69:
    print('About the same as an alarm clock.')

elif decibels > 69 and decibels < 107:
    print('Quieter than a lawn mower but louder than an alarm clock.')

elif decibels == 107:
    ('About the same as a lawn mower.')

elif decibels > 107 and decibels < 131:
    print("Quieter than a jackhammer but louder than a lawn mower.")

elif decibels == 131:
    print('About the same as a jackhammer.')

elif decibels > 131:
    print('Too loud.')


    print('Please enter a correct data value.')

    print('Your sound level is')

3. The table below shows the current (2019/2020) College Football Rankings and the number of wins by each team. <br>
    a. Create a pandas DataFrame that stores the information in this table and displays this. <br>
    ** 5 points will be deducted if this is not attempted. 2 points will be deducted if it is wrong or there is a typo** <br><br>
    b. Display (or print out) the mean, standard deviation and maximum of the number of wins given in this dataframe. <br>
    ** 5 points will be deducted if this is not attempted. 2 points will be deducted if it is wrong or there is a typo** <br>

| School       | Number of wins |
| ------------ | -------------- |
| LSU          |        15      |
| Clemson      |        14      |
| Ohio State   |        13      |
| Georgia      |        12      | 
| Oregon       |        12      |

In [2]:
data = {'School':['LSU','Clemson','Ohio State','Georgia','Oregon'],
       'Number of Wins':[15,14,14,12,12],}
       
df = pd.DataFrame(data)
df

       School  Number of Wins
0         LSU              15
1     Clemson              14
2  Ohio State              14
3     Georgia              12
4      Oregon              12

In [13]:
df.describe()

       Number of Wins
count        5.000000
mean        13.400000
std          1.341641
min         12.000000
25%         12.000000
50%         14.000000
75%         14.000000
max         15.000000

# Extra Credit (10%)
**Attempt Problem 5 below for 10% extra credit**

5. Write a program that generates 12 random integers between 0 and 100, and then prints the largest even number that was entered. If no even number was entered it should print a message to that effect. <br>
Hints: <br>
    a. Use pseudo-code. <br>
    b. Generate a random number using the code below:<br>
    myRandInt = np.random.randint(low=0, high=100, size=12)<br>
    c. Initialize an empty list to contain the odd numbers. Name this list oddInt <br>
    d. Within your for loop, you can append odd numbers to this empty list using the append function. eg: <br>
    oddInt.append("The current odd number from the list should be put in here!") <br>
**Your code has to work perfectly to get this bonus 10%**